# Auto detect text files and perform LF normalization
* text=auto
package study;

/**
 * @author CharlesJahn
 */
public class PrintlnTest {

    /**
     * @param args the command line arguments
     */
    public static void main(String[] args) {
      
      Scanner myKB = new Scanner(System.in);
        String pword;
       
        System.out.println("Please enter your password. ");
        pword = myKB.nextLine();
            
       
        if ( pword.equals("Password")){
            
            System.out.println("Access Granted");
        }
        else {
            
            System.out.println("You are now locked out of your account. The police are on the way");
        }
    }
    
}
