# Auto detect text files and perform LF normalization
* text=auto
package study;

/**
 * @author CharlesJahn
 */
public class PrintlnTest {

    /**
     * @param args the command line arguments
     */
    public static void main(String[] args) {
      
    int first = 10;
    int second = 10;
    int sum = first + second;
    
    System.out.println("Variable 1="+first+" Variable 2="+second);
    System.out.println("The sum of the Variable 1 and Variable 2 is "+ sum);
        }
    }
    
}
